[global_config]
  suppress_multiple_term_dialog = True
  title_font = Monospace 11
  title_hide_sizetext = True
  title_use_system_font = False
[keybindings]
[layouts]
  [[default]]
    [[[child0]]]
      fullscreen = False
      last_active_term = 2ca07175-cecd-4290-a688-24e947317ccc
      last_active_window = True
      maximised = True
      order = 0
      parent = ""
      position = 0:33
      size = 2560, 1383
      type = Window
    [[[child1]]]
      order = 0
      parent = child0
      position = 1268
      ratio = 0.496281800391
      type = HPaned
    [[[child2]]]
      order = 0
      parent = child1
      position = 689
      ratio = 0.5
      type = VPaned
    [[[child5]]]
      order = 1
      parent = child1
      position = 689
      ratio = 0.5
      type = VPaned
    [[[terminal3]]]
      order = 0
      parent = child2
      profile = default
      type = Terminal
      uuid = 2ca07175-cecd-4290-a688-24e947317ccc
    [[[terminal4]]]
      order = 1
      parent = child2
      profile = default
      type = Terminal
      uuid = 9ec33e22-1e70-4efb-ae33-6fc6fd4fd17b
    [[[terminal6]]]
      command = ""
      order = 0
      parent = child5
      profile = default
      type = Terminal
      uuid = 13cf51f3-1811-4d6c-9465-f482fc35047d
    [[[terminal7]]]
      command = ""
      order = 1
      parent = child5
      profile = default
      type = Terminal
      uuid = 44d758ec-9c95-444d-9870-35ae25b85558
[plugins]
[profiles]
  [[default]]
    cursor_color = "#aaaaaa"
    font = JetBrainsMono Nerd Font Regular 10
    scrollback_lines = 60000
    use_system_font = False
