// {{ ansible_managed }}

user_pref("browser.sessionstore.interval", 15000000);
user_pref("browser.sessionstore.restore_on_demand", false);
user_pref("browser.sessionstore.resume_from_crash", false);
user_pref("browser.sessionstore.restore_on_demand", false);
user_pref("browser.cache.disk.capacity", 0);
user_pref("browser.cache.disk.filesystem_reported", 1);
user_pref("browser.cache.disk.smart_size.enabled", false);
user_pref("browser.cache.disk.smart_size.first_run", false);
user_pref("browser.cache.disk.smart_size.use_old_max", false);
user_pref("browser.newtabpage.directory.source", "");
user_pref("browser.tabs.warnOnCloseOtherTabs", false);
user_pref("browser.tabs.warnOnClose", false);
user_pref("extensions.pocket.enabled", false);
user_pref("media.autoplay.enabled", true);
user_pref("network.IDN_show_punycode", true);


