-server
-Xms2g
-Xmx3g
-XX:NewSize=1024m
-XX:MetaspaceSize=256m
-XX:ReservedCodeCacheSize=240m
-XX:+UseG1GC
-XX:+UseStringDeduplication
-XX:+CMSParallelRemarkEnabled
-XX:MaxTenuringThreshold=2
-XX:LargePageSizeInBytes=256m
-XX:SoftRefLRUPolicyMSPerMB=50
-XX:+AlwaysPreTouch
-XX:+TieredCompilation
-ea
-Dsun.io.useCanonCaches=false
-Djava.net.preferIPv4Stack=true
-XX:+HeapDumpOnOutOfMemoryError
-XX:-OmitStackTraceInFastThrow
-Dawt.useSystemAAFontSettings=lcd
-Dsun.java2d.renderer=sun.java2d.marlin.MarlinRenderingEngine
-verbose:gc
-Xlog:gc:{{home}}/idea-gc.log
-Dfile.encoding=UTF-8
